<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="../../autoload.php"
>
    <testsuites>
        <testsuite name="Tosetta test suite">
            <directory>./Test/</directory>
        </testsuite>
    </testsuites>
</phpunit>